RewriteEngine On
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^([^\.]+)$ $1.html [L]
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^([^\.]+)$ $1.php [L]
RewriteRule ^([^/\.]+)?$ item.php?slug=$1 [L]
RewriteRule ^([^/\.]+)?$ index.php[L]